* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(235, 233, 233);
  height: 100%;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}

img {
  max-width: 300px;
  max-height: 300px;
  margin: 5px auto 5px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

hr {
  border-top: 10px dotted;
  color: #ff2998;
}

#page-title {
  font-family: impact;
  padding: 50px 5px 10px 50px;
}

header {
  background: #f4da22;
  font-weight: 700;
  font-size: smaller;
  margin-bottom: 3px;
  
}

h2{
  padding-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 40px;
}

ul li {
  list-style: none;
  text-align: right;
  padding-left: 5%;
  padding-bottom: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
  color:#ff2998;
  font-weight: 800;
  cursor:cell;
}

#quiz-box {
  background: rgb(122, 203, 249);
  margin-top: 2px;
  min-height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#counter {
  
  color: white;
  display: block;
  padding: 10px;
  
}
#button-div{
    background: #f4da22;
    display: block;
    display: flex;
    justify-content: center;
    
}

button{
    margin: 0 5px 5px 5px;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0 5px darkslategray;
    position: relative;
}

button:hover{
  box-shadow: 0 4px darkslategray;
  top: 2px;
}

button:active{
  box-shadow: 0 0 darkslategray;
  top: 5px;
}

#timer-div{
    background: rgb(122, 203, 249); 
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

#quote-display{
    background: #f4da22;
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

#quote-div{
  padding: 15px 200px 15px 200px;
}



#img-div{
    background: rgb(122, 203, 249); 
    height: 320px;
}

#quiz-question{
    text-align: center;
    padding: 0px 50px 5px 50px;
}

#quiz-answer{
    text-align: center;
    padding: 0 150 5 150;
}